.wrapper
  .side-bar
    .side-header
      %h3.header__name kurochang
      %ul.header__lists
        %li.list
        = link_to "", "messages"
        = fa_icon 'edit'
        %li.list
        = link_to "", "messages"
        = fa_icon 'cog'

    .groups
      .group
        .group__name 俺
        .group__massage ぽぽぽぽ〜ん！
      .group
        .group__name わいわい
        .group__name 風呂沸いた。

  .chat
    .chat-header
      .left-header
        .left-header__title わいわい
        %ul.left-header__members Member: kurochang
        .li.members aaa
        .li.member lion

.right-header
  .right-header__button
  = link_to "Edit", "/messages"

.messgaes
  .message

.form
.form#new_message.js-form


/ <!DOCTYPE html>
/ <html>
/ <head>
/ <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
/ <title>ChatSpace</title>
/ <meta name="csrf-param" content="authenticity_token" />
/ <meta name="csrf-token" content="U1Tnv3LtbMUzLdKsq92Fzl6h9MoY5U1JaZE/yl5TmUbnQb5DAf36WrNeD4Fv4K2061apmWjLUBldSbpyf3esQQ==" />
/ <link rel="stylesheet" media="all" href="/assets/application-e66896919920db9cb5b5d601a817ab1099691bfddbbd355c65b549b11d7b1958.css" data-turbolinks-track="reload" />
/ <script src="/assets/application-11431a2aeef6ab6765ca93b518c6f8650fcffef3a41e7f77cc09f002e32bfd88.js" data-turbolinks-track="reload"></script>
/ </head>
/ <body>
/ <div class='notification'>
/ </div>

/ <div class='wrapper'>
/ <div class='side-bar'>
/ <div class='header'>
/ <h3 class='header__name'>
/ kurochang
/ </h3>
/ <ul class='header__lists'>
/ <li class='list'>
/ <a href="/groups/new"><i class="fa fa-pencil-square-o icon"></i>
/ </a></li>
/ <li class='list'>
/ <a href="/users/12732/edit"><i class="fa fa-cog icon"></i>
/ </a></li>
/ </ul>
/ </div>
/ <div class='groups'>
/ <div class='group'>
/ <a href="/groups/29732/messages"><div class='group__name'>
/ 俺
/ </div>
/ <div class='group__message'>
/ ぽぽぽぽん！！
/ </div>
/ </a></div>
/ <div class='group'>
/ <a href="/groups/29742/messages"><div class='group__name'>
/ わいわい
/ </div>
/ <div class='group__message'>
/ 風呂が沸いたよ。入れば？
/ </div>
/ </a></div>
/ </div>
/ </div>

/ <div class='chat'>
/ <div class='header'>
/ <div class='left-header'>
/ <div class='left-header__title'>
/ わいわい
/ </div>
/ <ul class='left-header__members'>
/ Member：
/ <li class='member'>
/ kurochang
/ </li>
/ </ul>
/ </div>
/ <div class='right-header'>
/ <a class="right-header__button" href="/groups/29742/edit">Edit</a>
/ </div>
/ </div>
/ <div class='messages js-messages'>
/ <div class='message'>
/ <div class='upper-message'>
/ <div class='upper-message__user-name'>
/ kurochang
/ </div>
/ <div class='upper-message__date'>
/ 2019/01/08 04:21
/ </div>
/ </div>
/ <div class='lower-message'>
/ <p class='lower-message__content'>
/ ご飯
/ </p>

/ </div>
/ </div>
/ <div class='message'>
/ <div class='upper-message'>
/ <div class='upper-message__user-name'>
/ kurochang
/ </div>
/ <div class='upper-message__date'>
/ 2019/01/08 11:06
/ </div>
/ </div>
/ <div class='lower-message'>
/ <p class='lower-message__content'>
/ 風呂が沸いたよ。入れば？
/ </p>

/ </div>
/ </div>

/ </div>
/ <div class='form'>
/ <form class="js-form" id="new_message" enctype="multipart/form-data" action="/groups/29742/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="WV3QzrxsjL2740RExnSV9Gs7Z1RNQRjm5TQquFJXEH4T5iykqFIwbcojkEqaoSpyP5MRFHE/70XjjzNdXioqtg==" /><input class="form__message js-content" placeholder="type a message" type="text" name="message[content]" id="message_content" />
/ <div class='form__mask'>
/ <label class="form__mask__image" for="message_image"><i class="fa fa-picture-o icon"></i>
/ <input class="hidden js-file" type="file" name="message[image]" id="message_image" />
/ </label></div>
/ <input type="submit" name="commit" value="Send" class="form__submit" data-disable-with="Send" />
/ </form>
/ </div>
/ </div>
/ </div>

/ </body>
/ </html>

